config SND_SMARTPA_AW882XX
        tristate "SoC Audio for awinic aw882xxseries"
        depends on I2C
        help
          this option enables support for aw882xxseries Smart PA.

config SND_AW_FEEDFORWARD
        bool "Awinic aw882xx series Feedforward Algorithm in external DSP"
        depends on SND_SMARTPA_AW882XX
